**
!package.json
!package-lock.json
!index.html
!server/
!server/**
!src/
!src/**
!styles/
!styles/**
!assets/
!assets/**
!deploy/
deploy/**
!deploy/Dockerfile

.git
.scratch
docs
materials
node_modules
**/.env
**/.env.*
